
    .notification-swivel {
        #FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 {
            box-shadow: none !important;
        }
        #FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 {
            box-shadow: none !important;
        }
        #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 {
            box-shadow: none !important;
        }
        #FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 {
            box-shadow: none !important;
        }
      
    }


