.mainImg {
    position:  relative;
   
}

.im1  {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.slick-arrow.slick-prev::before {
    display: none;
}
.slick-arrow.slick-next::before {
    display: none;
}

img {

    &.enterprise-logo {
         margin-top: 15%;
         padding-left: 10PX;
    }
}