    .websitehome-container {
      padding-top: 50px !important;
        .mainImg {
            position: relative;
        }
        .im1 {
            position: absolute;
            width: 60%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .fire-notification-container {
          #FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqR37xpqJeA37xp7MM9_0 img {
            height: 40px !important;
            width: 45px !important;
          }
        }
        .website-home-top-image {
          width: 46%;
          top: 64%;
          left: 33%;
          #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 {
            width: 265px !important;
            height: 60px !important;
            // background-color: rgb(170, 229, 249) !important;
            // border-color: #aae5f9 !important;
            margin: 0 0 10px 3px !important;
          }
          .FPqR3eNuqJeA3eNu7MM9_0 {
            // background-color: rgb(170, 229, 249) !important;
            span {
              padding-right: 2px;
            }
          }
          #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR1JYFqJeA1JYF7MM9_0 {
            top: 4px !important;
            left: 3px !important;
            height: 52px !important;
            width: 52px !important;
            img {
              border-radius: 30px !important;
              height: 52px !important;
              width: 52px !important;
            }
          }
          #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 {
            margin-left: 55px !important;
            padding-right: 8px !important;
            margin-top: -7px !important;
          }
          #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR3eNuqJeA3eNu7MM9_0 {
            padding: 0px 5px !important;
          }
          .slick-dots {
            li {
              display: none;
            }
          }
        }
        .slick-arrow.slick-prev::before {
            display: none;
        }
        .slick-arrow.slick-next::before {
            display: none;
        }
        img {
            &.enterprise-logo {
                margin-top: 15%;
                padding-left: 10PX;
            }
        }
        .extrafocus {
            color: #097fff;
        }
        .freetrial-btn ,.integration-btn {
            background-color: #097fff !important;
        }
        .parallax {
            padding-top: 20px;
        }
        .mobile-view {
           display: none;
        }
        .all-view {
            color: #999;
            top: 10px;
            position: relative;
            margin: 70px auto !important;
            right:20px;

            max-width: 400px;

            span {
                // font-size: 20px !important;
                color: rgb(67, 67, 67);
            }
        }
        .slider-card {
            padding-bottom: 15px;
            background: #f3f0ee !important;
        }
        .slider-title {
            font-size: 23px;
            font-weight: 600;
        }
        .slider-author {
            font-size: 15px;
        }

    }

@media only screen and (max-width: 992px) {
    .websitehome-container{
        .freetrial-btn {
            padding:  0 140px 0 30px !important;
        }
        .main-title {
            font-size: 40px;
            font-weight: 600;
        }
        .sub-title {
            font-size: 18px !important;
        }
        .blue-strip-affiliate {
            font-size: 40px;
        }
        .starttrial-form {
            .mobile-view {
                display: block;
                list-style-type: circle  !important;
                color: #858585;
                width: 450px;
                margin: 0 auto;
                & li {
                    position: relative;
                    top: 30px;
                    display: inline !important;
                    padding-left: 15px;
                    font-weight: 600;
                       &.bullet-inline::before{
                        content: '•';
                        margin-right: 5px;
                       }
                }
            }
        }
        .all-view {
            position: relative;
            right: 5px;
        }

    }
}
@media only screen and (max-width: 768px) {
    .websitehome-container{
        .freetrial-btn {
            padding:   0px 0px 0px 0px !important;

        }

    }
}
@media only screen and (max-width: 733px) {
    .websitehome-container{
        .starttrial-form {
            margin-left: 65px;
        }

    }
}
@media only screen and (max-width: 702px) {
    .websitehome-container{
        ul{
            &.mobile-view {
              position: relative !important;
              top: -10px !important;
              left: -20px !important
            }
        }


    }
}
@media only screen and (max-width: 590px) {
    .websitehome-container{
        .starttrial-form {
            margin-left: 35px;
        }
        .integration-image {
            max-height: 700px;
        }
        .slider-image{
            max-height: 100px;
            max-width: 240px;
        }
        .slider-text {
            font-size: 14px;
        }
        .landing-home-section {
            padding-bottom: 0px;
        }
        .main-title {
            font-size: 35px;
            font-weight: 800;
        }
        .sub-title {
            font-size: 19px !important;
        }
        .form--horizontal {
            position: relative;
            top: -50px;

    }
}

@media only screen and (max-width: 580px) {
    .websitehome-container{
        .blue-strip-affiliate {
            padding:0 20px 0 20px;
        }
        .features-text {
            padding: 0 20px 0  20px;
            & > h3 {
                text-align: center;
                font-weight: 600;
            }
        }
        .integration-title {
            text-align: center;
        }
        .all-view {
            position: relative;
            right: 5px;
        }


    }
}

@media only screen and (max-width: 482px ) {
    .websitehome-container{
        .starttrial-form {

            .mobile-view {
                position: absolute;
                left:-30px !important;
                top: -5px !important;
                width: 250px;
                & li {
                    display: block !important;

                }
            }

        }
    }

}
}
