/* table, th, tr, td{
    align:center;
    text-align: center;

} */
.manage-notification {
  th:first-child, td:first-child {
    padding-left: 15px !important;
  }
  td {
    text-align: inherit !important;
  }
}
