
// General Styles for Demo
.toggle-custom-button {
  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
}


// Mixin for Switch Colors
.toggle-color {
  color: #6b7381;
  background: lighten(#6b7381, 30%);
  &:before,
  &:after {
    color: #6b7381;
  }
  &.active {
    background-color: #29b5a8;
  }
}

// Mixin for Default Switch Styles
.toggle-mixin {
  // color: @color;
  // background: @bg;
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 1.5rem * 2;
  border-radius: 1.5rem;

  &:focus,
  &.focus {
    &,
    &.active {
      outline: none;
    }
  }

  &:before,
  &:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    // color: @color;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  &:before {
    content: 'Off';
    left: -4rem;
  }
  &:after {
    content: 'On';
    right: -4rem;
    opacity: .5;
  }

  > .handle {
    position: absolute;
    top: (1.5rem * .25) / 2;
    left: (1.5rem * .25) / 2;
    width: 1.5rem * .75;
    height: 1.5rem * .75;
    border-radius: 1.5rem * .75;
    background: #fff;
    transition: left .25s;
  }
  &.active {
    transition: background-color .25s;
    > .handle {
      left: 1.5rem + ((1.5rem * .25) / 2);
      transition: left .25s;
    }
    &:before {
      opacity: .5;
    }
    &:after {
      opacity: 1;
    }
  }

  &.btn-sm {
    &:before,
    &:after {
      line-height: 1.5rem - 1rem;
      color: #fff;
      letter-spacing: .75px;
      left: 1.5rem * .275;
      width: 1.5rem * 1.55;
    }
    &:before {
      text-align: right;
    }
    &:after {
      text-align: left;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }

  &.btn-xs {
    &:before,
    &:after {
      display: none;
    }
  }
}



// Apply Mixin to different sizes & colors

  .btn-toggle {

    &.btn-lg {
      .toggle-mixin {
        margin: 0 5rem;
        padding: 0;
        position: relative;
        border: none;
        height: 2.5rem;
        width: 2.5rem * 2;
        border-radius: 2.5rem;

        &:focus,
        &.focus {
          &,
          &.active {
            outline: none;
          }
        }

        &:before,
        &:after {
          line-height: 2.5rem;
          width: 5rem;
          text-align: center;
          font-weight: 600;
          // color: @color;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          transition: opacity .25s;
        }
        &:before {
          content: 'Off';
          left: -5rem;
        }
        &:after {
          content: 'On';
          right: -5rem;
          opacity: .5;
        }

        > .handle {
          position: absolute;
          top: (2.5rem * .25) / 2;
          left: (2.5rem * .25) / 2;
          width: 2.5rem * .75;
          height: 2.5rem * .75;
          border-radius: 2.5rem * .75;
          background: #fff;
          transition: left .25s;
        }
        &.active {
          transition: background-color .25s;
          > .handle {
            left: 2.5rem + ((2.5rem * .25) / 2);
            transition: left .25s;
          }
          &:before {
            opacity: .5;
          }
          &:after {
            opacity: 1;
          }
        }

        &.btn-sm {
          &:before,
          &:after {
            line-height: 2.5rem - 1rem;
            color: #fff;
            letter-spacing: .75px;
            left: 2.5rem * .275;
            width: 2.5rem * 1.55;
          }
          &:before {
            text-align: right;
          }
          &:after {
            text-align: left;
            opacity: 0;
          }
          &.active {
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }

        &.btn-xs {
          &:before,
          &:after {
            display: none;
          }
        }
      }
    }

    &.btn-sm {
      .toggle-mixin {
        // color: @color;
        // background: @bg;
        margin: 0 .5rem;
        padding: 0;
        position: relative;
        border: none;
        height: 1.5rem;
        width: 1.5rem * 2;
        border-radius: 1.5rem;

        &:focus,
        &.focus {
          &,
          &.active {
            outline: none;
          }
        }

        &:before,
        &:after {
          line-height: 1.5rem;
          width: .5rem;
          text-align: center;
          font-weight: 600;
          // color: @color;
          font-size: .55rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          transition: opacity .25s;
        }
        &:before {
          content: 'Off';
          left: -.5rem;
        }
        &:after {
          content: 'On';
          right: -.5rem;
          opacity: .5;
        }

        > .handle {
          position: absolute;
          top: (1.5rem * .25) / 2;
          left: (1.5rem * .25) / 2;
          width: 1.5rem * .75;
          height: 1.5rem * .75;
          border-radius: 1.5rem * .75;
          background: #fff;
          transition: left .25s;
        }
        &.active {
          transition: background-color .25s;
          > .handle {
            left: 1.5rem + ((1.5rem * .25) / 2);
            transition: left .25s;
          }
          &:before {
            opacity: .5;
          }
          &:after {
            opacity: 1;
          }
        }

        &.btn-sm {
          &:before,
          &:after {
            line-height: 1.5rem - 1rem;
            color: #fff;
            letter-spacing: .75px;
            left: 1.5rem * .275;
            width: 1.5rem * 1.55;
          }
          &:before {
            text-align: right;
          }
          &:after {
            text-align: left;
            opacity: 0;
          }
          &.active {
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }

        &.btn-xs {
          &:before,
          &:after {
            display: none;
          }
        }
      }

    }

    &.btn-xs {
      .toggle-mixin {
        margin: 0 0;
        padding: 0;
        position: relative;
        border: none;
        height: 1rem;
        width: 1rem * 2;
        border-radius: 1rem;

        &:focus,
        &.focus {
          &,
          &.active {
            outline: none;
          }
        }

        &:before,
        &:after {
          line-height: 1rem;
          width: 0;
          text-align: center;
          font-weight: 600;
          // font-size: @font-size;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          transition: opacity .25s;
        }
        &:before {
          content: 'Off';
          left: 0;
        }
        &:after {
          content: 'On';
          right: 0;
          opacity: .5;
        }

        > .handle {
          position: absolute;
          top: (1rem * .25) / 2;
          left: (1rem * .25) / 2;
          width: 1rem * .75;
          height: 1rem * .75;
          border-radius: 1rem * .75;
          background: #fff;
          transition: left .25s;
        }
        &.active {
          transition: background-color .25s;
          > .handle {
            left: 1rem + ((1rem * .25) / 2);
            transition: left .25s;
          }
          &:before {
            opacity: .5;
          }
          &:after {
            opacity: 1;
          }
        }

        &.btn-sm {
          &:before,
          &:after {
            line-height: 1rem - 1rem;
            color: #fff;
            letter-spacing: .75px;
            left: 1rem * .275;
            width: 1rem * 1.55;
          }
          &:before {
            text-align: right;
          }
          &:after {
            text-align: left;
            opacity: 0;
          }
          &.active {
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }

        &.btn-xs {
          &:before,
          &:after {
            display: none;
          }
        }
      }

    }

    &.btn-secondary {
      .toggle-color {
        color: #6b7381;
        background: lighten(#6b7381, 30%);
        &:before,
        &:after {
          color: #6b7381;
        }
        &.active {
          background-color: #ff8300;
        }
      }
    }
  }
