.integrationContent-container {
    .integration-header {
        display: flex;
        justify-content: space-between;
        padding: 1% 0%;
        .back-btn {
            width: 120px !important;
        }
      }
    .btn-step {
        padding:5px 10px !important;
        background: none !important;
        cursor: pointer;
        border-radius : 5px !important;
        font-size: 15px !important;
        border: 1px solid #fcfcfd !important;
        cursor: pointer;
    }
    
}