.billing-details {
  .billing-buttons {
    padding: 2% 0%;
  }
  .billing-info-list{
    min-height: 600px;
  }
  .payment-info {
    padding: 2%;
    .plan-info-details {
      padding: 2% 1%;
    }
  }
  .billing-list {
    border: 1px solid lightgray;
    border-left: 0;
    border-right: 0;
    margin: 1%;
    padding: 2% 0%;
    .table {
      margin: 0% 3% !important;
      td {
        text-align: left;
      }
    }
  }
  Button {
    &.btn.btn-primary {
      border-radius: 5px;
    }
  }
  .fi-download {
    cursor: pointer;
  }
  .fi-download:before {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 100px) {
  .billing-details {
    padding-top: 20px !important;
    .container-fluid {
      .inlineclr {
        .card-box {
          .Billing-container {
            .billing-buttons {
              padding-right: 0px !important;
            }
          }
        }
      }
    }
  }
}
