.websitecontact-container {
    .makeitbold {
        color:  #097fff;
        font-weight: 800;
    }
    .contact-content {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}
.toast-style {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
    text-align: center;
}
