{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:redux-saga/recommended",
    "plugin:duck/recommended"
  ],
  "plugins": [
    "react",
    "babel",
    "redux-saga",
    "duck"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true,
    "window": true,
    "browser": true,
    "localStorage": true,
    "fetch": true,
    "Headers": true,
    "document": true

  },
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": 0,
    "no-console": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  }
}
