# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/lib
/reports

# testing
/reports
/coverage
_tests_
/reports/XMLReports/*
/src/__test__/__snapshots__
/src/__tests__/__snapshots__

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*


