


  .notification-box {
    &.lastbox {
      position: relative;
      left: 33%;
      top: 30px !important;
    }
    .bulkColor{
      color:#097fff!important;
    }
    .liveColor{
      color:#d50000!important;
    }
    .recentColor{
      color:#097fff!important;
  
    }
    .reviewColor {
      color:#d50000!important;

    }

     
    .toggle-checkbox {
      margin-left: 37%;   
      margin-bottom: 10%;
    }
    
  }

    .addChannel {
      margin: 0 auto;
      padding-top: 50px !important; 
      padding-left: 30px !important;
    
        & .notification-list-content {
          min-height: 80px;
        }
    }
    
  

