@import '../../SwitchPartialScss/toggle';

.notification-box {
  .bulkColor{
    color:#d50000!important;
  }
  .liveColor{
    color:#097fff!important;
  }
  .recentColor{
    color:#097fff!important;

  }
   
  .toggle-checkbox {
    margin-left: 37%;   
    margin-bottom: 10%;
  }
  
}
