.profile-container {
  display: flex;
  padding-top: 50px;
  #formControlsSelect {
    color: #757575;
  }

  .content-tabs {
    height: 60px;
    padding: 20px;
    background: #d3d3d34a;
    margin: 5px 0px;
  }

  .content-tabs:hover, .active {
    background-color: white;
    font-weight: 600;
  }

  .profile-content-contaier {
    .profile-content-col-one {
      background-color: white;
      .profile-user-box {
        background-color: white !important;
        padding: 20px;
        .media-body {
          h4 {
            color: black;
          }
        }
        .tilebox-one {
          background-color: white !important;
        }
      }
    }
  }
  button {
    border-radius: 5px;

    &.upgrade1 {
      &:hover {
        background-color: #398DB7;
      }
    }
  }

  .profile-user-box {
    background-color: rgba(9, 128, 255, 0.152);
  }

  button {
    &.billing1 {
      &:hover {
        background-color: #398DB7;
      }
      border-radius: 5px;
    }
  }

  button {
    &.btn.btn-primary.waves-effect {
      border-radius: 8px;
    }
  }

  .btns {
    float: right;
    position: relative;
    top: 10px;
    border-radius: 5px !important;
  }

  .bx-shadow {
    padding: 10px;
    background: #fff !important;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 0 12px 16px -5px rgba(0, 0, 0, 0.2) !important;
      animation: popbox 0.1s ease-in forwards;
      background-color: rgb(255, 255, 255) !important;

      .tilebox-one {
        background-color: rgb(247, 245, 245) !important;
      }
    }
  }

  .show-modal {
    z-index: 999999999 !important;
    overflow: scroll !important;
    background: rgba(248, 247, 247, 0.7);
  }

  .align-modal {
    width: 800px !important;
    position: relative;
    right: 100px;
  }

  .close {
    position: relative;
    top: 10px !important;
    background: #097fff !important;
  }

  .error-border {
    border-color: red !important;
  }
  
  .givemeborder {
    margin: 10px;
    padding: 10px;
    .selectedOption {
      background-color: #40c74094 !important;
    }

    .pauseContent {
      width: 45% !important;

      button {
        margin-left: 80px !important;
      }
    }

    .deleteContent {
      width: 45% !important;

      button {
        margin-left: 80px !important;
      }
    }

    .content {
      border: 1px solid #999;
      padding: 10px;
      min-height: 250px !important;

      p {
        color: #5b5454 !important;
      }
    }
  }

  .submitaccount,.confirmaccount {
    width: 150px !important;
    border-radius: 5px !important;
  }

}

.profile-over-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.text-desc {
  color: #5b5454 !important;
}

.inputcode {
  padding: 5px !important;
}

button {
  margin: 0 2% !important;
}

@media only screen and (max-width: 768px) and (min-width: 100px) {
  .profile-container {
    .panel-body {
      .text-left {
        .profile-buttons {
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }
}
