.review-container {
  padding-bottom: 100px;
  .review-title {
    background-color: rgb(237, 236, 236);
    padding-top: 20px;
    padding-bottom: 20px;
    & h1,
    h4 {
      text-align: center;
      color: rgb(72, 71, 71) !important;
      font-weight: 400;
    }
  }
  .switch {
    margin-right: 20px !important;
  }
  .nav.nav-pills {
    >li>a.active {
      font-family: "Rubik", sans-serif;
    }
    .nav-item.show.nav-link,
    .nav-link.active {
      background: #097fff;
    }
  }
  a {
    &.nav-link.active.pb-3.pt-3 {
      &:hover {
        color: #fff !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }
    }
  }
}