.display-container {
  .url-field {
    width: 30%;
  }
  .input-group {
    padding-bottom: 2%;
  }
}

.trash {
  color: #097fff;
  padding-left: 10px;
  font-size: 15px !important;
  cursor: pointer;
}


.displaybtn-back, .displaybtn-finish {
  border-radius: 5px !important;
}

  .addpath-btn {
    border-radius: 5px !important;
  }

  .path-error {
    max-width: 300px;
    margin: 0 auto !important;
    position: relative;
    left: 10px;
  }

  .dot {
    height: 18px;
    width: 18px;
    background-color: #0acf97;
    border-radius: 50%;
    display: inline-block;
  }

  .tab-notification-container {
    .label-url {
      margin-left: 89px!important;
    }

    .status {
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {
          display: flex;

          .status-name {
            margin: 3px 10px;
          }
        }
      }
    }

    .tabscontent {
      .mdi-plus-circle-outline {
        font-size: 17px;
        position: absolute;
        top: 4px !important;
        left: 12px !important;
      }
      .subdomain {
        border-radius: 5px !important;
        position: relative;
        padding-left: 35px !important;
        // margin-left: 120px;
      }
      .addsubdomain {
        width: 100px;
        border-radius: 5px !important;
      }
      .centertbl {
        .display-url {
          width: 40%;
          word-break: break-all;
        }
      }

      .unverified {
        background-color: #FFEB3B;
      }

      .primary {
        background-color: #2196F3;
      }

      .danger {
        background-color: #F44336;
      }

      .success {
        background-color: #4CAF50;
      }
    }
  }
