.topbar {
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f4f6f8;
  .nav-custom-header {
        background: #f4f6f8;
  }
}
.dashboard-content {
  font-size: 14px;
  margin-top: 5% !important;
}

.mm-popup__overlay {
  z-index: 100000000;
}
.mm-popup__box{
  z-index: 100000000;
}
