@import '../../components/SwitchPartialScss/toggle';

.dashboard-container {
  .topbar {
    margin-left: 16%;
    z-index: 10000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 84%;
    background: #f4f6f8;
    .nav-custom-header {
          background: #f4f6f8;
    }
  }
.dashboard-content {
  font-size: 14px;
  margin-top: 5% !important;
  .css-1ar5iql, [data-css-1ar5iql] {
    z-index: 999999999;
  }
}

.mm-popup__overlay {
  z-index: 1000000000;
}
.mm-popup__box{
  z-index: 1000000000;
}

html {
  height: 100%;
  background-color: rgba(9, 128, 255, 0.152);
}

}
