.topbar {
  z-index: 10000000;
  position: fixed;
  top: 0;
  width: calc(100% - 305px);
  background: #f4f6f8;
  .nav-custom-header {
        background: #f4f6f8;
  }
}
.dashboard-content {
  font-size: 14px;
      margin-top: 5% !important;
}
