.toast-style {
    background-color: rgba(0, 0, 0, 0.98) !important;
    color: #fff !important;
    text-align: center !important;
    height: 10px !important;
    border-radius: 5px !important;
    padding: 17px 7px;

    button {
      height: 2.6em;
      color: #fff;
    }
  }
