.coupon-page {
    position: relative;
    left: 10px;
    top: -12px;
    .coupon-row-padding{
      padding-bottom: 3%;
      input {
        height: 45px;
        font-size: 19px;
        font-family: Raleway, sans-serif;
      }
      .error-text {
        height: 30px;
      }
    }
    .apply-coupon-button {
      margin-top: 7% !important;
      input {
        width: 100% !important;
      }
    }
    input {
      width: 100% !important;
        &.btn.btn-primary {
            border-radius: 5px;
        }
    }
    #coupon {
        width: 200px;
    }
    input::placeholder {
        font-size: 0.8em !important;
        color: rgb(141, 141, 141) !important;
      }
      .apply {
          width: 160px !important;
      }

}
