
.authpage-container {
    input {
        &.btn.btn-primary {
            border-radius: 5px;
        }
        
    }
    .line-or {
        margin: 10px 0 0 10px;
        position: relative;
        left: 180px;
        top: 25px;
    }
    input[type="text"]
    {
        // background: none !important;
        &::placeholder {
        font-size: 0.8em !important;
        color: rgb(141, 141, 141) !important;

      }
    }
    .stripe-title {
        font-size: 17px !important;
    }
    #username {
        margin-top: 20px;
    }
}   