.authpage-container {
  .auth-divider {
    display: flex;
    justify-content: center;
    .line-divider {
      z-index: -1;
      position: absolute;
      height: 180px;
      margin-top: -40%;
      border-left: 1px solid #cccccc;
    }
    h1 {
      background: white;
      color: #cccccc;
      margin: 0px 0px;
      margin-top: -16%;
    }
  }
    input {
        &.btn.btn-primary {
            border-radius: 5px;
        }

    }
    .line-or {
        margin: 10px 0 0 10px;
        position: relative;
        left: 180px;
        top: 25px;
    }
    input[type="text"]
    {
        &::placeholder {
        font-size: 0.8em !important;
        color: rgb(141, 141, 141) !important;

      }
    }
    .stripe-title {
        font-size: 17px !important;
    }
    #username {
        margin-top: 20px;
    }
}
