.notificationSwitch{
    .react-flexible-switch {
      z-index: 10000;
      float:right;
      margin-top: -50px;
      margin-right: 15px;
    }
}

.notification-configure-content {
  display: flex;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}
