.WebsiteFeature-container {
	background: #f9f9f9;
  .imageblock__content {
    .profile {
      position: relative;
      left: 130px;
      top: 100px;
    }
  }


	.main-title {
	    color: #3a3f52 !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
	    font-size: 45px !important;
	    font-weight: 900 !important;
	    line-height: 55px !important;
	    font-style: unset;
	    padding-top: 13px !important;
	    letter-spacing: 1px;
	    margin-bottom: 15px !important;
	}

	.sub-title {
	    font-size: 16px;
	    color: #3a3f52;
	    margin-right: 0% !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 2px !important;
	    font-weight: 300;
	    line-height: 23px;
	}

	.heading-texts {
	    color: #3a3f52 !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
	    font-size: 21px !important;
	    font-weight: 500 !important;
	    line-height: 30px !important;
	    text-align: center;
	    font-style: unset;
	    padding-top: 13px !important;
	    letter-spacing: 1px;
	}

	.heading-texts-sub {
	    font-size: 13px !important;
	    color: #3a3f52 !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 2px !important;
	    font-weight: 500 !important;
	    line-height: 21px;
	    text-align: center;
	}

	.heading-texts2 {
		color: #3a3f52 !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
	    font-size: 27px !important;
	    font-weight: 600 !important;
	    line-height: 35px !important;
	    letter-spacing: 1px;
	}

	.heading-texts-sub2 {
	    font-size: 16px !important;
	    color: #3a3f52 !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 2px !important;
	    font-weight: 500 !important;
	    line-height: 20px;
	}

	.heading-texts3 {
	    color: #3a3f52 !important;
	    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
	    font-size: 21px !important;
	    font-weight: 600 !important;
	    line-height: 30px !important;
	    text-align: center;
	    font-style: unset;
	    padding-top: 13px !important;
	    letter-spacing: 1px;
	}
}