.WebsiteFeature-container {
	background: #f9f9f9;
  .imageblock__content {
    .profile {
      position: relative;
      left: 130px;
      top: 100px;
    }
  }


	.main-title {
    color: #3a3f52 !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
    font-size: 45px !important;
    font-weight: 900 !important;
    line-height: 55px !important;
    font-style: unset;
    padding-top: 13px !important;
    letter-spacing: 1px;
    margin-bottom: 15px !important;
	}

	.sub-title {
    font-size: 16px;
    color: #3a3f52;
    margin-right: 0% !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 2px !important;
    font-weight: 300;
    line-height: 23px;
	}

	.heading-texts {
    color: #3a3f52 !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
    font-size: 21px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    text-align: center;
    font-style: unset;
    padding-top: 13px !important;
    letter-spacing: 1px;
	}

	.heading-texts-sub {
    font-size: 13px !important;
    color: #7f8fa4 !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 2px !important;
    font-weight: 500 !important;
    line-height: 21px;
    text-align: center;
	}

	.heading-texts2 {
		color: #3a3f52 !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
    font-size: 27px !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    letter-spacing: 1px;
	}

	.heading-texts-sub2 {
    font-size: 16px !important;
    color: #7f8fa4 !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 2px !important;
    font-weight: 500 !important;
    line-height: 20px;
	}

	.heading-texts3 {
    color: #3a3f52 !important;
    text-shadow: rgba(0, 0, 0, 0.10) 0 0 5px !important;
    font-size: 21px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
    text-align: center;
    font-style: unset;
    padding-top: 13px !important;
    letter-spacing: 1px;
	}

	.campaigntype-image {
		margin-left: 8% !important;
		box-shadow: 0px 0px 2.5px #a1a1a1;
	  border-radius: 10px;
	}

	.campaigntype-text {
		padding-left: 0px;
  	margin-left: -17px;
  	padding-top: 37px;
	}

	.analytics-text {
    padding-top: 2% !important;
    margin: 0% 3% !important;
	}

	.analytics-image {
		box-shadow: 0px 0px 2.5px #a1a1a1;
	  border-radius: 10px;
	}

	.feature-icons {
		border-radius: 20px;
    border: 0.5px solid #bebebe;
    box-shadow: 0px 0px 1.5px #c2c2c2;
	}

	.notification-images {
		background: #f8f8f8;
	  border-radius: 10px;
    box-shadow: 0px 0px 2.5px #a1a1a1;
		height: 1%;
		margin-top: 60px;
	}

	.recent-image {
		width: 50%;
		margin-left: 10%;
 		margin-top: 3.5%;
  	border-radius: 49px;
  	box-shadow: 1px 1px 5.5px #b0b0b0;
		height: 18%;
	}

	.live-image {
		width: 50%;
		height: 18%;
		margin-left: 24%;
    border-radius: 55px;
    box-shadow: 1px 1px 5.5px #b0b0b0;
    margin-top: 3.2%;
	}

	.bulk-image {
		width: 50%;
		margin-left: 39%;
    border-radius: 8px;
    box-shadow: 1px 1px 5.5px #b0b0b0;
    margin-top: 3.2%;
		height: 18%;
		margin-bottom: 8% !important;
	}

	.custom-container {
		background: #ffffff;
	    width: 99%;
	    margin: 22.5px 4.2px;
	    box-shadow: 0px 0px 1px #bdbdbd;
	    border-radius: 5px;
	    max-height: 400px;
    	min-height: 200px;
	}
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
	.WebsiteFeature-container {
		.main-container {
			.notification-section {
				.analytics-text {
					margin: 5% 6%;
				}
				.notification-images {
					margin: 5% 6%;
				}
			}
			.campaign-type-section {
				.campaigntype-image {
					margin: 5% 6% !important;
					max-width: 88%;
				}
				.campaigntype-text {
					margin: 0% 6%;
				}
			}
			.analytics-powerhouse-section {
				.analytics-image {
					margin: 5% 6%;
				}
			}
		}
	}
}
