.websitefooter-container {}

@media only screen and (max-width:574px) {
    .websitefooter-container {
        .foots {
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .foo-t1,
            .foo-t2,
            .foo-t3 {
                &:not(.foo-t1) {
                    width: 300px;
                    padding-top: 10px;
                    border-top: 1px solid #999999;
                    margin: 0 auto;
                }
            }
        }
    }
}