.websitefooter-container {
    background-color:#fafafa !important;
    .footer__lower {
        background-color: #fff !important;
    }

    .cookie-notice-container {
        -webkit-box-align: center;
        align-items: center;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        left: 0px;
        position: fixed;
        right: 0px;
        width: 0px;
        z-index: 91;
        margin: auto;
    }
    .cookie-text {
        padding: 10px;
        -webkit-box-align: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 15px 0px;
        box-sizing: border-box;
        display: flex;
        margin-bottom: 12px;
        min-height: 52px;
        padding-left: 8px;
        position: relative;
        width: 550px;
        background: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(135, 138, 140);
        border-image: initial;
        border-radius: 4px;
        transition: padding 0.3s;
    }
    .cookie-text {
      &before {
          background-color: #097fff;
          content: "";
          height: 100%;
          left: 0px;
          position: absolute;
          top: 0px;
          width: 8px;
          border-width: 1px;
          border-style: solid;
          border-color: #097fff;
          border-image: initial;
          border-radius: 4px 0px 0px 4px;
          margin: 0px -1px -1px -1px;
      }
    }


    .cookie-text {
      .cookie-label {
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          color: rgb(28, 28, 28);
          margin-left: 12px;
          flex: 1 1 0%;
      }
    }

    .cookie-text {
      button {
         box-sizing: border-box;
         cursor: pointer;
         text-align: center;
         font-size: 10px;
         font-weight: 700;
         letter-spacing: 0.5px;
         line-height: 24px;
         text-transform: uppercase;
         background-color: #097fff;
         color: rgb(255, 255, 255);
         border-width: 1px;
         border-style: solid;
         border-image: initial;
         border-radius: 4px;
         text-decoration: none;
         padding: 3px 16px;
         border-color: #097fff;
         margin: 0px 12px;
     }
    }
}

@media only screen and (max-width:574px) {
    .websitefooter-container {
        & .footer__upper {
            display: none;
        }

    }
}

@media only screen and (max-width: 766px) {
    .websitefooter-container {
        .foo-t1,
        .foo-t2,
        .foo-t3 {
            font-weight: 900 !important;
        }
        .foot3,
        .foot4 {
            margin-top: 50px !important;
        }
    }
}
