.customer-loader {
  background: rgba(98, 95, 103, 0.39);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 200px;
    height: 200px;
  }
}
