button {
  &.btn.btn-custom.nav.nav-pills.waves-light.waves-effect.number.ml-2.pl-4.pr-4 {
    border-radius: 5px;
  }
  &.btn.btn-custom.nav.nav-pills.waves-light.waves-effect.number{
    border-radius: 5px;
  }

}
.dot {
    height: 23px;
    width: 23px;
    text-align: center;
    background-color:#4fab00;
    border-radius: 50%;
    display: inline-block;
    color:whitesmoke;
}
.tabscontent{
  .input-group {
    .form-control {
      border-radius: 6px!important;
    }
  }
}
