.CapturePage-container {
  .url-field {
    width: 30%;
  }
  .input-group {
    padding-bottom: 2%;
  }
  .btn-sm {
    padding: .4rem 1.6rem !important;
    border-radius: 5px !important;
  }
  .btn-sm:hover {
    background: #1e68e6;
    border: 1.2px solid #1e68e6;
  }

  .dropdown-menu {
    border: 1px solid #B9C5DA !important;
  }
  .dropdown-item {
    padding: 10px 1.5rem !important;
    font-size: 14px;
    .fi-monitor, .fi-circle-plus, .fi-plus {
      margin-left: -12%;
      padding-right: 10px;
    }
  }

  .dropdown-item:hover {
    cursor: pointer;
    background: #f6f6f6 !important;
  }
  .dropdown-item:last-child {
    border-bottom: 0 !important;
  }
  .mdi-plus-circle-outline {
    font-size: 17px;
    position: absolute;
    top: 4px !important;
    left: 12px !important;
  }
  .subdomain {
    border-radius: 5px !important;
    position: relative;
    padding-left: 35px !important;
  }
  .trash {
    color: #097fff;
    padding-left: 10px;
    font-size: 15px !important;
    cursor: pointer;
  }
  .addsubdomain {
    width: 100px;
    border-radius: 5px !important;
  }
  #urladd {
    span {
      border-radius: 5px;
    }
  }

  .capturebtn-back, .capturebtn-next {
    border-radius: 5px !important;
  }

  .path-error {
    max-width: 300px;
    margin: 0 auto !important;
    position: relative;
    left: 10px;
  }

  .dot {
    height: 18px;
    width: 18px;
    text-align: center;
    position: relative;
    left: 0;
    background-color: #4fab00;
    border-radius: 50%;
    display: inline-block;
    color: whitesmoke;
  }

  .tabscontent {
    .centertbl {
      .url {
        width: 30%;
      }
    }

    .input-group {
      .form-control {
        border-radius: 6px!important;
      }
    }

    .status {
      ul {
        display: flex;
        list-style: none;

        li {
          display: flex;

          .status-name {
            margin: 0px 7px;
            font-size: 11px;
            color: #50697e;
            letter-spacing: 0.5px;
            font-weight: 500;
          }
        }
      }
    }

    .unverified {
      background-color: #FFEB3B;
    }

    .primary {
      background-color: #2196F3;
    }

    .danger {
      background-color: #F44336;
    }

    .success {
      background-color: #4CAF50;
    }
    .display-page-row {
      margin: 0 -6% !important;
      .display-page-header {
        display: flex;
        justify-content: space-around;
        h4 {
          width: 100%;
        }
        button {
          height: 35px;
          border-radius: 6px;
          width: 30%;
          padding: 0px;

        }
      }
    }    
  }
}


@media only screen and (max-width: 768px) and (min-width: 100px) {
  .CapturePage-container {
    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
      .tabscontent {
        .row {
          text-align: center;
          .col-md-10 {
            padding-right: 0px;
            padding-left: 0px;
            .input-group {
              label {
                width: 100%;
              }
              #urladd {
                padding: 10px 0px;
              }
            }
          }
          .col-md-2 {
            padding: 20px 0px;
          }
          .col-md-12 {
            .status {
              ul {
                padding: 0px;
                display: block;
                li {
                  padding: 20px 0px;
                  display: block;
                  .dot {
                    margin: 0px 50%;
                  }
                  .status-name {
                    float: left;
                    clear: left;
                    width: 100%;
                  }
                }
              }
            }
            .card-plain {
              .content {
                padding-bottom: 50px;
              }
            }
          }
        }
      }
    }
  }
}

.capture-td {
cursor: pointer;
display: flex;
padding: 1.5% 0% 1.5% 0%;
margin: 10px auto;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
background: #fff;
border-radius: 3px;
color: #50697e;
border: 0.5px solid #e1e1e1;
font-size: 13px;
letter-spacing: 0.5px;
font-weight: 500;
word-wrap: break-word;
justify-content: center;
align-items: center;

}

.table-header {
  color: #1f2b36 !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  font-size: 18px !important;
  letter-spacing: -0.17px !important;
  max-width: 200% !important;
  text-shadow: 0.01px -0.01px 0.01px;
  display: block;
}

.tab-row {
  margin: 2% 0% !important;
  background: #f9f9f9;
  border: 0.5px solid #f7f7f7;
  display: flex;
  font-size: 11px;
  color: #56636d;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
}
