div {
    &.row.form-details-1 {
        opacity: 1;
        &:active {
        animation: fadeOutDemo 1s ease forwards  ;


        }
    }
    &.row.form-details-2 {
        opacity: 1;
        &:active {
        animation: fadeOutDemo 1s ease forwards  ;
      
        }
    }
}

@keyframes fadeOutDemo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}