.analytics-container {
  .analytics-tr {
    cursor: pointer;
  }

  .analytics-profile {
    .analytics-header {
      display: flex;
      justify-content: space-between;
      padding: 1% 0%;
    }
    td {
      padding: 5px 10px !important;
      vertical-align: inherit !important;
    }
    .img {
      width: 10%;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
  }

}

.analytics-chart {
  canvas {
    padding: 3%;
  }
}
.mm-popup__box {
  width: 35%;
  left: 45%;
}
