.campaign-footer-container {
  z-index: 99999;
  display: block;
  position: fixed;
  bottom: 0%;
  width: 95.5%;
  height: 42px;
  margin-left: -15px;
  padding: 1px;
  background-color: #1e68c6;
  opacity: 1;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #6f6f6f;
  .campaign-footer-steps {
    display: flex;
    padding: 3px;
    .footer-progress-bar {
      margin: 8px 0px;
    }
    .influence-react-indicator {
      width: 41%;
      margin: 6px 5%;
      padding: 0;
      vertical-align: middle;
      list-style: none;
      display: inline-block;
      position: absolute;
      .rc-steps-item-tail {
          width: 100%;
          top: -2px;
          margin: 0 0 0 60px;
          padding: 0;
      }
      .rc-steps-item-process {
        .rc-steps-item-icon  {
          border: 4px solid white;
        }
      }
      .rc-steps-item-finish {
        .rc-steps-item-icon  {
          border: 4px solid #5bc739;
        }
      }
      .rc-steps-item-wait {
        .rc-steps-item-icon {
          border: 4px solid #108ee9;
        }
      }
      .rc-steps-item-process .rc-steps-item-tail:after, .rc-steps-item-wait .rc-steps-item-tail:after {
        background-color: #108ee9;
      }
      .rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
        background-color: #108ee9;
      }
      .rc-steps-item-finish .rc-steps-item-tail:after {
        background-color: #5bc739;
      }
      .rc-steps-item-icon  {
        z-index: 1;
        margin-left: 40px;
        height: 20px;
        width: 20px;
      }
      .rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
          background: #57f157;
          border-color: white;
      }
      .rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon .rc-steps-icon-dot {
          background: #5bc739;
          border-color: #5bc739;
      }
      .rc-steps-icon-dot  {
        border-radius: 50%;
      }
      .rc-steps-item-tail {
        top: 7px;
      }
      .rc-steps-item-tail:after {
        height: 5px;
      }
    }
    .btn-footer-1 {
      background: #5bc739;
      border: 1px solid #5bc739;
      color: #ffffff;
      border-radius: 3px;
      padding: 5px 18px;
      cursor: pointer;
      position: absolute;
      top: 7px;
      &:hover {
        color: #fefefe;
        background: #3cb416;
        border-color: #3cb416;
      }
    }
    .btn-footer-2 {
      background: #5bc739;
      border: 1px solid #5bc739;
      color: #ffffff;
      border-radius: 3px;
      padding: 5px 18px;
      cursor: pointer;
      position: absolute;
      margin: 0 44% !important;
      top: 7px;
      &:hover {
        color: #fefefe;
        background: #3cb416;
        border-color: #3cb416;
      }
    }
    .btn-footer-3 {
      background: #5bc739;
      border: 1px solid #5bc739;
      color: #ffffff;
      border-radius: 3px;
      padding: 5px 18px;
      cursor: pointer;
      position: absolute;
      margin: 0 92% !important;
      top: 7px;
      &:hover {
        color: #fefefe;
        background: #3cb416;
        border-color: #3cb416;
      }
    }
  }
}
