.table-responsive {
	
	.tab-header {
		margin-bottom: 5px;
	}

	.tab-row {
		margin: 2% 0% !important;
		background: #f9f9f9;
		border: 0.5px solid #f7f7f7;
		display: flex;
		font-size: 11px;
		color: #56636d;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.th {
	
	}

}