.topbar {
  .navbar-custom {
    min-height: 50px !important;
    background-color: white;
    .customer-header {
      .profile-dropdown {
        margin-left: 542px;
        margin-top: -72px;
        i {
          margin-right: 10px;
          color: gray;
        }
        // display: flex;
        // justify-content: space-evenly;
      }

      .name-header {
        padding-top: 5px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 22px;
        margin-right: 25px;
      }
      .name-header:hover {
        background-color: #f9f9f9;
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 13px;
        background-color: #fba62d;
        background-position: center center;
        text-align: center;
        color: #fefefe;
      }

      .full-name {
          font-size: 15px;
          margin-top: -30px;
          padding-left: 39px;
          width: 180px;
          color: #6f6f6f;
      }
      .icon-arrow-down, .icon-arrow-up{
        font-size: 8px;
        -webkit-text-stroke: 1px black;;
      }

      .progress {
        background: white !important;
      }

      .progress-bar {
        height: 3.5px;
        background: #2D7BF4 !important;
        color: #2D7BF4 !important;
      }

      .nav-topbar-flex {
        display: flex;
        background-color: white;

        .topbar-left {
          width: 50%;

          h4 {
            a {
              color: #007bff;
              cursor: pointer;
            }
            font-family: "Rubik", sans-serif;
            padding: 3% 5%;
            letter-spacing: 0.09em;
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
          }
        }
        .topbar-right {
          .notification-list {
            background-color: white !important;
          }
          .dropdown-menu.dropdown-menu-right {
            box-shadow: 1px 1px 6px 0px #888888;
            transform: none !important;
            top: 60% !important;
            right: 0 !important;
            left: 0% !important;
            margin: 532px;
            width: 180px;
            .notify-item {
              padding: 12px 20px;
            }
            .logout-btn {
              border-top: 1px solid lightgray;
            }
          }
        }
      }

      .nav-link.dropdown-custom-toggle.nav-user {
        background: none !important;
      }

      .nav-custom-header {
        .nav-user {
          line-height: 30px !important;
          margin: 46% 0 0;
        }
      }

      a {
        & i.fi-bell {
          font-size: '55px';
        }
      }

      .topbar-left-hamburger {
        display: none;
      }

      .topbar-right-menu {
        height: 20px !important;
        z-index: 999;
        position: absolute;
        top: 6px;
        right: 0;

        .dropdown-menu.dropdown-menu-right {
          margin-top: 15px !important;
        }
      }

      .topbar-left {
        padding-left: 0px !important;
        & h4 {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          padding-left: 0px !important;
          font-size: 15px !important;
          color: #5f5f5f;
          position: relative;
          top: -6px;

          & .icon-arrow-left {
            padding: 10px !important;
            font-size: 12px;
             &:hover {
               background-color: #dbdada !important;
             }
          }
        }
      }
      .rounded-circle {
        position: relative;
        top: -5px;
        width: 24px;
        height: 24px;
        right: 40px;
        font-size: 22px !important;
      }
    }
  }
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
  .navbar-custom  {
    width: 100%;
    left: 70px !important;

    .customer-header {
      .nav-topbar-flex {
        .topbar-left {
          width: 20% !important;
          h4 {
            display: flex;
            justify-content: start;
            margin: 20px 0px;
            i {
              line-height: 0px !important;
            }
          }
        }
        .topbar-right {
          width: 70%;
          text-align: right;
          .notification-list {
            width: 40%;
            padding-right: 12%;
            margin: 5px 0px 0px 0px;
            height: 50px;
            .dropdown-custom-toggle {
              padding-top: 50px !important;
            }
            .dropdown-menu.dropdown-menu-right {
              margin-top: 0px !important;
            }
            .profile-dropdown {
              justify-content: flex-end;
              text-align: end;
              width: 130%;
              margin-left: 0 !important;
              margin-top: -60px !important;
              .avatar {
                margin-right: 15px;
              }
            }
          }
        }
      }

      .topbar-left-hamburger {
        display: block;
        margin: 5px 15px;
        .fa-bars, .fa-times {
          font-size: xx-large;
        }
      }
      #sidebar-menu {
          overflow-y: auto;
          height: 640px;
          width: 60px;
        }

      .topbar-right-menu {
        display: flex;
        top: 2px;
        right: 10px;
        .notification-list {
          background: white;
          .dropdown-menu.dropdown-menu-right {
              top: 40px !important;
            }
        }
      }
    }
  }

}
