.customer-header {
  .progress-bar{height: 3.5px;}
  .nav-topbar-flex {
    display: flex;
    justify-content: space-between;
    .topbar-left {
      width: 50%;
      h4 {
        a {
          color: #007bff;
          cursor: pointer;
        }
        font-family: "Rubik", sans-serif;
        padding: 3% 5%;
        letter-spacing: 0.10em;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
  .nav-custom-header {
    .nav-user{
        line-height: 40px !important;
        margin: 10% 0px 0px 0px;
    }
  }

  a{
    & i.fi-bell {
      font-size:'55px';
    }
  }

  .topbar-right-menu {
    height: 20px !important;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: 0px;
  }

  .topbar-left {
    & h4 {
      padding: 0% 5%!important;
      font-size: 11px !important;
      position: relative;
      top: -1px;
    }
  }
  .rounded-circle { 
    position: relative;
    top: 12px;
    right: 40px;
    font-size: 22px !important;
  
  }



}
