.toaster {
    .toast-style {
        background-color: rgba(0, 0, 0, 0.7) !important;
        color: #fff;
        text-align: center;
    }
}

.website-error {
    padding: 10px 0px 0px 5px !important;
    color: rgb(228, 98, 98);
}
