.websitesignuppayment-container {

    .vristrue {
        position: relative !important;
        top:10px !important;
        
    }
    .paypal{
        max-width: 500px !important;
        height: 50px !important;
        position: relative;
        top: -120px;
        left: -20px;
        cursor: pointer;
    }
    .paytitle {
        font-size: 40px !important;
    }
    .give-center-align {
        padding: 0 50px 0 50px !important;
    }

    .sub-up-title {
        padding: 12px 90px 12px 90px ;
        font-size: 20px;
        font-weight: 800;
        background: #097fff;
        color: #fff;
        border-radius: 5px;
        cursor: no-drop;

    }

}