.website-error {
    padding: 10px 0px 0px 5px !important;
    color:#db3a1b;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.alert-warning {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.padding--lv3 {
  padding: 18px;
}
.border-radius--lv2 {
    border-radius: 6px;
}
.padding-left-right--lv0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.padding--lv3 {
    padding: 18px;
}
.v-flashBlock--error {
    background-color: #f8d0c8;
}
.margin-bottom--lv3 {
  margin-bottom: 18px !important;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, fieldset, form, label, legend, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    line-height: 24px;
}
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.c-flashBlock {
    font-size: 15px;
}
body {
    background-color: #ffffff;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
