.websitesignuppricing-container {
    .starttrial-btn {
        background-color: #097fff !important;
    }
    .alignment {
        padding: 0px;
    }
    .no-brdr-top {
        border-top: none !important;
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .plantitle{
      font-size: 40px;
    }
    .pricerow {
        background: #fff;
        padding: 44px !important;
    }
}