  .campaign-td {
    cursor: pointer;
    display: flex;
    padding: 1.5% 0% 1.5% 0%;
     margin: 10px auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 3px;
    color: #50697e;
    border: 0.5px solid #e1e1e1;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;

  }
  .tab-row {
    background: #f9f9f9;
    border: 0.5px solid #f7f7f7;
    display: flex;
    margin: 10px auto;
    font-size: 11px;
    color: #56636d;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    }
  .auth-td {
    cursor: pointer;
    display: flex;
    padding: 1.5% 0% 1.5% 0%;
    margin: 10px auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 3px;
    color: #50697e;
    border: 0.5px solid #e1e1e1;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
      .btn-secondary {
        padding: 2px;
        background-color: #097fff;
        border-radius: 5px;
      }

  }


.oauthheader {
  color: #1f2b36 !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  font-size: 18px !important;
  letter-spacing: -0.17px !important;
  max-width: 200% !important;
  text-shadow: 0.05px -0.01px 0.01px;
  margin-left: 28px !important;
}

.btn-primary {
  background-color: #097fff !important;
  border-radius: 5px;
  color: #ffffff;
}