.upgrade-plan-container{
  .modal {
    .modal-lg {
      max-width: 80%;
      .modal-content {
        .modal-body {
          padding: 0px !important;
          .upgrade-plan-container {
            .planlist-container {
              .upgrade-plan {
                .container {
                  .inlineclr {
                    .col-md-12 {
                      .card-box {
                        background-color: white !important;
                        .text-center {
                          margin: 0 auto;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  height: 650px;
  min-height: calc(100% - 86px);
  .upgrade-plan {
    text-align: center;
    .flow-wrapper {
      width: 85%;
      margin: 0 auto;
      .upgrade-price-div {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 25px;
      }
      .upgrade-button {
        padding: 5% 0%;
      }
      .price {
        .button.submit-button {
          display: initial;
        }
        .vertical-col {
          display: flex;
        }
        .min-col {
          width: 50%;
        }
        .Select-control {
          border-color: transparent;
          border-radius: 0;
          border: none;
        }
        .Select.is-focused:not(.is-open) > .Select-control {
          border-color: none;
          -webkit-box-shadows: none;
          box-shadow: none;
          background: #fff;
        }
        .Select-placeholder {
          color: #999999;
        }
        .w-input {
          margin-bottom: 0;
        }
        .card .card-body {
          .card-title, .card-text {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 100px) {
  .upgrade-plan-container {
    padding: 0px 15px !important;
    .planlist-container {
      .upgrade-plan {
        padding-top: 20px !important;
        .container-fluid {
          .inlineclr {
            .card-box {
              .plans {
                float: none !important;
                .row {
                  .leftwrap {
                    .pricingTable {
                      margin: 20px 40px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
