a[disabled] {
    pointer-events: none;
}

.disabled-link {
  pointer-events: none;
}

.sidebar {
  .glyphicon {
    font-size: 85%;
  }
}

.help-container {
    width: 100%;
    padding: 5% 7%;
    font-size: 15px;
}

.custombottom{
  position: relative;
  margin-top: 210px;
}

.textColor{
  color:#313a46cc;
  font-size: 15px;
}


div.button-list {
  & .btn-pink {
    background-color: #097fff;
    border: 1px solid #097fff;
  &:hover {
    background-color: blue;
    border-color: blue;
  }
  &:active {
    background-color: blue;
    border-color: blue;
  }
  &:focus {
    background-color: blue;
    border-color: blue;
  }
  }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover{ .dropdown-content {
    display: block;
}}
