a[disabled] {
    pointer-events: none;
}

.disabled-link {
  pointer-events: none;
}

.sidebar {
  .glyphicon {
    font-size: 85%;
  }
}

.help-container {
    width: 100%;
    padding: 5% 7%;
    font-size: 15px;
}
