.ct-chart {
  canvas {
    width: 100% !important;
  }
}

.dashboard-content {
  table {
    width: 100%;
    td {
      padding: 5%;
    }
  }
}

.widget-chart-two-content.dash + span {
  min-height: 40px;
}