.website-app {
  section {
    padding-top: 0;
    padding-bottom: 0;
}
    .WebsiteTerms-container {
        div {
            &.lead {
                p,
                ul,
                li {
                    font-size: 18px;
                }
            }
        }
    }
}
