@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700');

body {
  font-family: "Raleway, Source Sans Pro, Verdana, Helvetica", sans-serif;
}

.toast-style {
  div[role=alert], div[role=info] {
    padding: 0px 0px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
    text-align: center;
  }
  button {
    height: 4.2em;
  }
}

.website-app {
  .alert-warning {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  .content {
    padding-top: 100px;
  }
}
