.list-modal-container {
  margin: 9% 15% 9% 15% !important;
  background: #fcfcfc !important;
  border-radius: 10px;
  border: 0.8px solid #e5e5e5 !important;
  box-shadow: 0px 0px 4px #d5d5d5;
  min-height: 62vh !important;
  .list-header {
    text-align: center;
    font-size: xx-large;
    font-weight: 200;
    color: gray;
    .list-header-para {
      color: #294661 !important;
      font-weight: 600 !important;
      text-transform: initial;
      font-size: 30px !important;
      letter-spacing: -0.17px !important;
      max-width: 200% !important;
      text-shadow: 0.05px -0.01px 0.01px;
    }
  }
  .list-content {
    display: flex;
    padding-top: 1%;
    text-align: center;
    .list1-content {
      padding-right:20px;
      border-right: 1px solid #ccc;
      .sub-text {
          color: #294661 !important;
          font-size: 20px !important;
          font-weight: 500 !important;
      }
      .list-content-para {
        font-size: 25px;
        padding: 1% 7% 1% 7%;
        font-weight: 200;
        color: gray;
        border: 0.7px solid #8f8f8f;
        border-radius: 5px;
      }
      button {
        display: flex;
        margin: 0 auto !important;
        justify-content: center;
        width: 45%;
        font-size: 20px;
        border-radius: 5px;
        margin-top: 10% !important;
        .list-content-button-para {
          font-size: 20px;
          margin: 2px;
          color: white !important;
          padding: 0;
        }
        i {
          margin: 5% 5%;
        }
      }
    }
    .list2-content {
      p {
        font-size: 25px;
        padding: 5% 0% 10% 0%;
        font-weight: 200;
        color: gray;
      }
      .list-content-para {
        font-size: 25px;
        padding: 1% 7% 1% 7%;
        font-weight: 200;
        
      }
      .sub-text {
          color: #294661 !important;
          font-size: 24px;
          font-weight: 500;
          margin-left: 8%;
          margin-bottom: 8%;
      }
      .list-checklist {
        margin: 0 auto;
        text-align: left;
        width: 100%;
        padding-left: 40px;
        
        .form-check {
          display: flex;
          justify-content: space-between;
          border: 0.5px solid #d5d5d5;
          border-radius: 5px;
          width: 80%;
          margin-left: 9%;
          padding: 1% 2% !important;
          background: #ffffff !important;
          .form-check-input {
            font-size: 30px;
            margin: 4% -20px;
          }
          .form-check-label {
            width: 88%;
            text-align: start;
            font-size: large;
            color: gray;
            font-weight: 100;
            padding: 10px 45px 10px 24px;
            cursor: pointer;
          }
          .fa-check-circle {
            font-size: 25px;
            margin: 8px 0px 0px 0px;
            color: #50e050;
          }
          .fa-circle {
            font-size: 25px;
            margin: 8px 0px 0px 0px;
            color: lightgray;
          }
          .fa-angle-right {
            font-size: 30px;
            margin: 5px 0px;
            color: gray;
            cursor: pointer;
          }
        }
        .form-check:hover {
            box-shadow: 0px 0px 0.5px #8f8f8f;
            border: 0.5px solid #8f8f8f;
        }
      }
    }
  }
  .list-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .list-modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .list-modal-container {
    .list-content {
      .list1-content {
        button {
          i {
            font-size: inherit;
          }
          .list-content-button-para {
            font-size: 15px;
          }
        }
      }
      .list2-content {
        .list-checklist {
          .form-check {
            .form-check-label {
              font-size: initial;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1024px) {
  .list-modal-container {
    .list-content {
      .list1-content {
        button {
          i {
            font-size: initial;
          }
          .list-content-button-para {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 940px) {
  .list-modal-container {
    .list-content {
      .list1-content {
        button {
          i {
            font-size: small;
          }
          .list-content-button-para {
            font-size: 10px;
          }
        }
      }
    }
  }
}

