  .mm-popup__box__header__title {
    font-size: 25px !important;
    text-align: center !important;
  }
  .mm-popup__box__body {
    padding: 0 !important;
  }
  .mm-popup__box__footer {
    padding: 20px 20px 20px !important;
  }
