.new-campaign-header {
  padding: 0% 2%;
}

.new-campaign-tab-pills {
  background: #f4f6f8;
  margin-left: -50px !important;
  margin-right: -50px !important;
}
.tab-content {
  .align-install-btn {
    width: 20%;
  }
}
