.install-pixel {
  .bgcolor {
    background-color: rgba(245, 245, 245, 0.816);
    color: #636769;
  }
  .align-install-btn {
    display: flex;
    .loader-icon {
      float: right;
      margin: 1%;
      .fa {
        color: #2d7bf4;
        padding: 0 0.5%;
        font-size: 24px;
      }
    }
  }
  .copy-btn ,.pixel-btn, .webhook-btn ,.pixelnext-btn {
    border-radius: 5px !important;
  }
  .pixel-btn {
    border: 2px solid #6f7ace !important;
  }
  .custom-width {
    width: 75% !important;
  }

  p {
    &.m-l-30.p-3 {
      padding-bottom: 5px;
      box-shadow: 0 1px 3px -3px black;
      background-color: #F8F8F8 !important;
      border: none !important;
      border: 1px solid rgb(225, 225, 225) !important;
    }
  }



  div {
    &.float-left > button {
      width: 20%;
    }

    &.integration > button {
      width: 100%;
    }
  }

  .webhooks-container {
    padding: 5% 0;

    .webhooks-types {
      button {
        margin: 0 2% 0 0 !important;
      }
    }

    .custom-pointer {
      cursor: pointer;
    }

    .form-control[readonly] {
      background-color: white;
    }

    .mdi-content-copy:before {
      font-size: large;
    }
  }

  .integrations, .tagmanager{
    width: 170px !important;
    border-radius: 5px !important;
  }
  .integration-row {
    position: relative;
    left: 65px !important;
  }
}

.mm-popup__btn--save-webhook {
  width: 100%;
}

@media only screen and (max-width: 768px) and (min-width: 100px) {
  .install-pixel {
    .align-install-btn {
      width: 100% !important;
      text-align: center;
      margin: 5%;
      button {
        width: 40% !important;
        padding: 6px;
        margin: 2% !important;
      }
    }
    .integration-row {
      left: 0px !important;
      text-align: center;
      .col-md-4 {
        padding: 15px 0px;
      }
    }
  }
}
