.webhooks-container {
  .card-title {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 25px !important;
    color: #999;
    font-family: 'Roboto' !important;
  }

  .card-text {
    color: #999;
  }
  .input-group-text{
    border-radius: 5px !important;
    font-size: 14px !important;
    color: #fff !important;

  }
  .copyicon-btn{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

  }

  .webhooks-types {
    & button {
      width: 25%;
      border-radius: 5px;
    }
  }
  .webhook-section {
    border-radius: 5px !important;
    padding: 0px !important;
    border: 1px solid #cecdcd !important;
    .card-header {   
      border-left: 1px solid #cecdcd !important;
      color: #097fff !important;
      font-weight: 600 !important;
      background: #EAF5FF;
      
    }
  }
}
