.thumb-box {
    margin: 0;
    padding: 30px;
}
  .thumb-box {
    .thumbs {
       text-align: center;
       float: left;
       margin: 8px;
       background: #FFF;
       border-radius: 5px;
       width: 150px;
       min-height: 150px;
       cursor: pointer;
       box-shadow: 0 2px 2px rgba(36,37,38,.08);
       transition: box-shadow .25s
       }
  }
