.websiteheader-container {

    .signupbtn {
        background-color: #097fff !important;
    }

  .hamburger-toggle {
      display: none;
  }
  .small-bar {
      display: none;
  }
  .mainlogo {
      position : absolute;
      left: 110px;
      z-index: 99;
  }
  .menu-horizontal:focus {
      outline: none;
  }
}

.sticky {
    position: fixed;
    top: 0px;
    box-shadow: 0px 10px 10px -12px #999;
    z-index: 9999;
    background: #fff;
    width: 100%;
}


@media only screen and (max-width: 1198px) {
    .websiteheader-container {
        .loginbtn , .signupbtn {
            width: 100px ;
            height: 35px ;
            font-size: 12px !important;
        }
        .mainlogo {
            left: 60px;
            top: 15px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .websiteheader-container {
       
        .links {
            margin: 0 0 3px 0 !important;
            li { 
                margin: 0px !important;
                font-size: 14px;
            }
        }
        .btns{
            position: relative;
            right: 20px;
        }
        .loginbtn , .signupbtn {
            width: 100px ;
            height: 35px ;
            font-size: 12px !important;
        }
        .mainlogo {
            left: 80px;
            top: 15px;
            width: 180px;
        }
    }
}
@media only screen and (max-width: 992px) {
    .websiteheader-container {

 
        .nav-content {
            position: relative;
            .links {
                width: 400px !important;
            }
            .btns { 
                position: absolute;
                right: 100px;
                top: 5px;
            }
            position: relative;
            left: 150px;
        }
    }
}
@media only screen and (max-width: 990px) {
    .websiteheader-container {

        .links {
           width: 300px !important;
           margin-left: 90px !important;
         li {
            font-size: 13px !important;
         }
           
    }
    .mainlogo {
        width:  150px !important;
        position: absolute;
        top: 22px;
    }
    
}
}


@media only screen and (max-width:767px) {
    .websiteheader-container {
        .links {
            margin: 0 auto !important;
            width: 200px;
          
        }
        .btns { 
            position: relative !important;
            top: 10px !important;
            left: 30%;
            width: 200px;
           
        }
        .nav-content {
            position: relative;
            left: 0px;
            .nav-content-links {
                position: absolute;
                right: 0px;
            }
        }
        .mainlogo {
            left: 40px;
            top: 20px;
         
        }
        .visible-xs {
            display: block !important;
            width: 100px !important;
        }

        .small-bar {
            display: block !important;
            padding-top: 50px !important;
            padding-bottom: 25px !important;
        }

        .fa-close {
            display: none !important; 
        }

        .hamburger-toggle {
            display: block;
            font-size: 30px;
            position: absolute;
            right: 20px;
            top: 25px;
            z-index: 999;
            cursor: pointer;

            &:focus {
                outline: none;
            }
            
  
    }
    .customtoggleclass {
                &:focus {
                    outline: none;
                }    
                .fa-bars {
                display: none !important;   
                }
                .cross {
                    outline: none !important;
                    .fa-close {
                        outline: none !important;
                        display: block !important;
                    }
                }
               
                
                & + div {
                    display: block !important;

            
            }
            
    }

    .cross {
            width: 30px;
            height: 30px;
            border: none !important;
            background-color: none !important;
            position: relative;
            left: -30px;
            outline: none !important;
            -webkit-outline : none !important;
            box-shadow: none;
        }


        //for navbar comtents
        .menu-horizontal {
            text-align: center !important;
        }
        .loginbtn ,.signupbtn{
            width: 200px;
        }
        
        
    }

}

@media only screen and (max-width:412px) {
    .websiteheader-container{
        .mainlogo{
            width: 160px !important;
            top: 19px !important;
            position: absolute !important; 
        }
        .btns { 
            position: relative !important;
            top: 10px !important;
            left: 25%;
           
        }
        .links {
            width: 250px !important;
        }
    }
}
@media only screen and (max-width:330px) {
    .websiteheader-container{
        .mainlogo{
            width: 120px !important;
            top: 23px !important;
        }
        .btns { 
            position: relative !important;
            top: 10px !important;
            left: 20%;
         
            .loginbtn,.signupbtn {
                width: 180px !important;
            }
           
        }
        .bar__module.links {
            width: 240px !important;
        }
        .hamburger-toggle , .cross {
            font-size: 26px !important;
        }
    }
}
