.rules-container {
  .rules-buttons {
    justify-content: space-between;
    display: flex;
  }
  li{
    div {
      .checkbox{
        .checkbox-info{
          input[type="checkbox"]:checked + label {
            &::before {
              background-color: #097fff;
              border-color: #097fff;
            }
            &::after {
              border-color: #ffffff;
            }
          }
        }
      }
    }
  }
  .btn-color{
    color:white;
    background-color: #097fff;
    border-color: #ffffff;
  }
  button {
    &.btn.btn-color  {
      border-radius: 5px;
    }
  }
  .notification-view{
    z-index: 100000000;
    position: fixed;
  }
}
