.notification-settings {
  .notification-settings-options {
    display: flex;
    margin-botton: 10px;
    .dropdown-campaigns {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
    .btn-recent {
        border-radius: 5px;
        background-color: #29b5a8;
        padding: 3px 6px;
        font-size: 11px;
        color: #ffffff;
    }
  }

  .notification-button-row  {
      width: 20%;
  }
  .notification-list {
    .card-box {
      margin-bottom: 0;
    }
  }
  .notification-configure {
    .header {
      display: flex;
      justify-content: space-between;
    }
  }
  .notificationSwitch{
      .react-flexible-switch {
        z-index: 10000;
        margin: 10%;
      }
  }

  .notification-configure-content {
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
    .card-box {
      margin-bottom: 0px;
    }
  }
  .cardback-btn, .cardnext-btn {
    border-radius: 5px !important;
  }
  .notifsettinglast-btn {
    margin-top: 13%;
  }

}

@media only screen and (max-width: 768px) and (min-width: 100px) {
  .notification-settings {
    .notifsettinglast-btn {
      margin-top: 10px;
    }
  }
}

.btn-products {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 11px !important;
  color: #ffffff;
  border-radius: 5px !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #29b5a8;
  cursor: pointer;
}
