.websiteintegrations-container {
  .trynow-btn {
    background-color: #097fff !important;
  }
  .integration-text {
    color: #fff !important;
    font-size: 24px !important;
    font-weight: 400 !important;
  }
  .talk-btn {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    padding: 10px 50px 10px 50px !important;
  }
}
